.App {
  text-align: center;
}

.App-header {
  background-image: url(images/Header.png);
  background-size: cover;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}

.App-intro {
  font-size: large;
}

.objective {
	background-image: url(images/street_grayscale.png);
	background-size: cover;
	height: 500px;
	margin-top: 140px;
	text-align: left;
}

.about {
	background-image: url(images/About.png);
	background-size: cover;
	text-align: right;
	height: 500px;
}

.topics {
	background-image: url(images/Suggestions.png);
	background-size: cover;
	height: 500px;
	text-align: left;
}

.contact {
	background-image: url(images/Contact.png);
	background-size: cover;
	text-align: right;
	height: 500px;
}

.text-box-left-bottom {
	display: inline-block;
	width: 500px;
	padding-top: 300px;
	padding-left: 100px;
}

.text-box-left-top {
	display: inline-block;
	width: 500px;
	padding-top: 45px;
	padding-left: 100px;
}

.text-box-right {
	display: inline-block;
	width: 500px;
	padding-top: 45px;
	padding-right: 100px;
}

.footer {
	background-color: navy;
	height: 50px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	text-align: right;
	padding-right: 25px;
	font-size: 10px;
}

.nav-menu {
	text-align: right;
	padding-top: 75px;
	padding-right: 50px;
}

.home {
	padding-top: 200px;
}

.coming-soon-img {
	background-image: url(images/construction.gif);
	background-size: cover;
	height: 400px;
	width: 600px;
	margin: auto;
}
